@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#search-box-container {
  width: 300px;
  float: right;
  margin: 10px 10px 0 0;
}

h3 {
  font-weight: 700;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #d23f31;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-style: 25px;
  color: #ffffff;
}

.fab {
  width: 60px;
  height: 60px;
  background: #d23f31;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85%  bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 14px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.marker {
  background-image: url('images/bi.png');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.marker {
  background-image: url('images/bi.png');
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
   max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-weight: 600;
}

.mapboxgl-popup-close-button {
  background-color: transparent;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 4px;
  color: red;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
}

.contact-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f172a;
}

.contact h1 {
  color: #ededed;
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
}

.contact form {
  width: 600px;
  text-align: center;
}

form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .item-field {
  width: 100%;
}

.field .item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #3B82F6;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #ededed;
  margin: 12px 0;
}

.field .item::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, .3);
}

form .textarea-field .item {
  height: 150px;
  resize: none;
}

form button {
  padding: 10px 20px;
  background: #3B82F6;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 10px #3B82F6;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ededed;
  margin-top: 20px;
}
